{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form action="{:url('order')}" target="_blank" method="post">
        <div style="float: left">
            <input type="text" class="input-text" style="width:250px" placeholder="用户名称" name="userName" value="{$Request.param.userName}" >
            <input type="text" class="input-text" style="width:250px" placeholder="用户手机号" name="userMobile" value="{$Request.param.userMobile}" >
            <input type="text" class="input-text" style="width:250px" placeholder="所属股东" name="userSon" value="{$Request.param.userSon}" >

            开始时间：<input style="width: 200px" type="text" class="input-text Wdate" placeholder="日期" name="starttime" value="" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal}  datatype="*" nullmsg="请选择日期">
            结束时间：<input style="width: 200px" type="text" class="input-text Wdate" placeholder="日期" name="endtime" value="" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal}  datatype="*" nullmsg="请选择日期">

            <button class="btn btn-success" type="submit">导出Excel</button>
        </div>
    </form>
</div>
{/block}
{block name='script'}
<script>



</script>
{/block}

