{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    {include file="form" /}
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l" {if condition="$_SESSION['think']['auth_id'] neq 1";} style="display: none;" {/if}>
            {tp:menu menu="add" /}
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            {include file="th" /}
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            {include file="td" /}
            <td class="f-14">
                {tp:menu menu='sedit' /}
                <a href="javascript:;" onclick="del(this)" name="{$vo.id}" class="btn btn-danger radius ml-5"><i class="Hui-iconfont">&#xe6e2;</i> 删除</a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}
{block name='script'}
<script>
    function del(even){
        var id = $(even).attr('name');
        var loading = layer.load(3, {shade: [0.8, '#393D49']});
        layer.confirm('确定删除？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajax({
                url:"{:url('del')}",
                type:'get',
                dataType:'json',
                data:{
                    id:id
                },
                success:function(msg){
                    layer.close(loading);
                    layer.msg('删除成功', {icon: 1,time:2000});
                    window.location.reload();
                },
                error:function(err){
                    alert('网络连接错误');
                    window.location.reload();
                }
            });
        }, function(){
            layer.close(loading);
        });
    }


</script>
{/block}

